@model HomeIndexViewModel

@{
    ViewData["Title"] = "Customer Management";
}

<div class="text-center">
    <h2>Create New Customer</h2>

    <form asp-action="AddCustomer" method="post">
        <div class="form-group">
            <label asp-for="NewCustomer.Name">Name</label>
            <input asp-for="NewCustomer.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NewCustomer.Email">Email</label>
            <input asp-for="NewCustomer.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NewCustomer.Address.Country">Country</label>
            <input asp-for="NewCustomer.Address.Country" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NewCustomer.Address.City">City</label>
            <input asp-for="NewCustomer.Address.City" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NewCustomer.Address.Street">Street</label>
            <input asp-for="NewCustomer.Address.Street" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NewCustomer.Address.ZipCode">Zip Code</label>
            <input asp-for="NewCustomer.Address.ZipCode" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Add Customer</button>
    </form>

    <h2>Customer List</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Country</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Email</td>
                    <td>@customer.Address?.Country</td>
                    <td>@customer.Address?.City</td>
                </tr>
            }
        </tbody>
    </table>
</div>
