@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The Name and email of the customers you add to this website will be visible to all who access the site. </p>
<p>The Zipcode and street address will not be shown.</p>
<p>The information stored in the database is not encrypted.</p>
